/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 07 */

.container {
	width: 82.5%; /* change me to a percentage width, like 80% */
	margin: 0 auto;
}


.header {
	height: 98px;
	width: 984px;
	padding-bottom: 20px;
}

.logo {
	float: left;
}

.navigation {
	float: right;
}

.sidebar {
	float: left;
	width: 26.5%;
	height: 100%;
	clear: both;
}

.main-content {
	height: 400px;
	width: 984px;
	padding-bottom: 20px;
}

.sub-content {
	float: right;
	width: 63.5%;
	height: 40.5%;
}

.sub-content-2 {
	float: right;
	height: 40.5%;
	width: 63.5%;
	margin-top: 2%;
}

.footer {
	clear: both;
}
