/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 05 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header {
	height: 98px;
	width: 984px;
	padding-bottom: 20px;
}
/* hint! what do you have to add here? */

.logo {
	float: left;
}

.navigation {
	float: right;
}

.sidebar {
	float: left;
	width: 250px;
	height: 358px;
	clear: both;
}

.main-content {
	height: 400px;
	width: 984px;
	padding-bottom: 20px;
}
/* hint! you have to contain the floated children elements. */

.sub-content {
	float: right;
	width: 600px;
	height: 150px;
	margin: 1px;
}
.sub-content-2 {
	float: right;
	height: 150px;
	width: 600px;
	margin-top: 19px;
}

.footer {
	clear: both;
}
